.container-payments {
    max-width: 900px;
    margin: auto;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.subscription-details {
    background: linear-gradient(145deg, #00a5cf, #00B2B3);
    color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.subscription-details h2 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

.subscription-details h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
}

.subscription-details span {
    font-size: 18px;
}

.subscription-details ul {
    list-style-type: disc;
    padding-left: 20px; 
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.subscription-details ul li {
    margin-bottom: 8px;
}

.subscription-details .summary {
    font-size: 16px;
}

.subscription-details .summary p {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.summary .total {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
}

.checkout-container {
    padding: 30px;
    background-color: #f9f9f9;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.checkout-form .floating-label1 label{
    margin-bottom: 10px;
}

.checkout-form .form-control {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.checkout-form .form-control:focus {
    border-color: #00A5CF;
    box-shadow: 0 0 5px rgba(0, 165, 207, 0.3);
}

.checkout-container .col-6:first-child {
    padding-right: 0px;
}

.checkout-container .col-6:last-child {
    padding-left: 0px;
}

.checkout-container .col-6:first-child .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.checkout-container .col-6:last-child .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

.btn-primary {
    background: linear-gradient(135deg, #007bff, #00a5cf);
    margin-top: 15px;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
    transition: background 0.3s, transform 0.2s;
}

.btn-primary:hover {
    background: linear-gradient(135deg, #00a5cf, #007bff);
    transform: translateY(-2px);
    color: #ffffff;
}

/* Texto de términos */
.text-muted {
    font-size: 12px;
    color: #666;
    text-align: center;
}




























/* Estilos para el modo oscuro */
body.dark-mode .checkout-page .checkout-container {
    background: #121212;
    box-shadow: 0px 2px 6px -1px rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

body.dark-mode .checkout-page .checkout-left {
    background-image: url("https://res.cloudinary.com/dbrzmir9f/image/upload/v1730068547/s2spqzfxnsfgeynubdhp.jpg");
}

body.dark-mode .checkout-page .checkout-right {
    background: #1f1f1f;
}

body.dark-mode .checkout-page .checkout-right h1,
body.dark-mode .checkout-page .input-group label {
    color: rgba(255, 255, 255, 0.85);
}

body.dark-mode .checkout-page .input-group input,
body.dark-mode .checkout-page .date-inputs select {
    color: #ffffff;
    background-color: #333333;
    border-color: rgba(255, 255, 255, 0.3);
}

body.dark-mode .checkout-page .input-group input:focus,
body.dark-mode .checkout-page .date-inputs select:focus {
    border-color: #00A5CF;
}

body.dark-mode .checkout-page .button-modern {
    background-image: linear-gradient(144deg, #00A5CF, #00A5CF);
}